.item{
 width: 400px;
 height: 200px;
 position: relative;
}

.item .item-image{
 z-index: 0;
 position: absolute;
 margin-left: 120px;
 width: 240px;
 height: 100%;   
}

.item .item-image img{
 width: 100%;
 height: 100%;
}

.item .item-overlay{
 z-index: 1;
 position: absolute;
 width: 170px;
 height: 100%;
 overflow: hidden;
}

.item .item-overlay .item-info{
 width: 140px;
 height: 100%;
 float: left;
 background-color: #005482;
}

.item .item-overlay .polygon-right{
 width: 0;
 height: 0;
 float: left;
 border-top: solid 70px transparent;
 border-bottom: solid 130px transparent;
 border-left: solid 20px #005482;
 position: relative;
 z-index: 2; 
}

.item .item-overlay .polygon-shadow-top-right{
 position: absolute;
 z-index: 1;
 top: 0;
 left: 140px;
 width: 10px;
 border-right: solid 20px transparent;
 border-bottom: solid 70px rgba(0, 0, 0, 0.5);
}

.item .item-overlay .polygon-shadow-bottom-right{
 position: absolute;
 z-index: 1;
 top: 70px;
 left: 140px;
 width: 10px;
 border-right: solid 20px transparent;
 border-top: solid 130px rgba(0, 0, 0, 0.5);
}

.item .item-overlay .item-info .title{
 width: 90%;
 overflow: hidden;
 position: absolute;
 top: 50px;
 margin-left: 15px;
 font-size: 26px;
 color: white;
 font-family: "Segoe UI", "Calibri", "Tahoma";   
}?