/* Override some defaults */
html, body {
  background-color: #eee;
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px 20px 0 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  border-top-width: 0;
  border-bottom:width: 0;
  -webkit-border-radius: 0 0 20px 20px;
     -moz-border-radius: 0 0 20px 20px;
          border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
     -moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
          box-shadow: 0 2px 3px rgba(0,0,0,.15);
}

.content footer{
  padding-bottom: 5px;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
	float: left;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* custom */

/* this overrides bootstrap settings */

html, body, html body, html body p{
	font-family: 'Segoe UI', Helvetica, Garuda, Arial, sans-serif !important;
	color: #666;
	font-size: 14px;
	line-height: 19px;
}

div.container{
	margin-left: 50px;
	width: 100%;
}

.container > div.content{
	float: left;
	width: 70%;
	max-width: 900px;
	padding-right: 20px;
}

.container .unit-article-inner .content, .container .content .span12{
	width: 100%;
	padding-right: 20px;
	padding-bottom: 25px;
}

.container .content .span8, .container .content .span4{
	width: 98%;
}

.container .main.content .span12{
	margin-bottom: -35px;
}

.container .content  .tags{
	margin-top: 5px
}

.right-panel{
	float: left;
	width: 300px;
	position: relative;
	top: 70px;
	left: 55px;
}

.right-panel ul{
	margin: 5px 0 0 0;
	list-style-type: none;
}

footer{
	width: 100%;
	float: left;
}

.entry-content{
	margin: 5px 20px 10px 0px;
}

.date{
	font-size: 12px;
	font-weight: bold;
}

/* code */

.highlight{
    margin: 15px 0 15px 0;	
}

/* headers */

.post h1, h1{
	margin: 30px 0 10px 0;
}

.post h2, h2{
	margin: 25px 0 10px 0;
}

.post h3, h3{
	margin: 20px 0 5px 0;
}

.post h4, h4{
	margin: 15px 0 5px 0;
}

/* blockquotes */

blockquote {
background:#F7F7FF;
border-bottom:1px solid #D5D5D3;
color:#666;
display:block;
margin: 0px;
}

blockquote > p {
display:block;
margin-bottom:0;
padding:7px 5px
}

blockquote > p:first-child {
border-top:1px solid #C8CDDE;
margin-top:0
}

blockquote img {
margin-bottom:0
}
	