/* Override some defaults */
html, body {
  background-color: #eee;
  overflow-x: hidden;
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px 20px 0 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  border-top-width: 0;
  border-bottom:width: 0;
  -webkit-border-radius: 0 0 20px 20px;
     -moz-border-radius: 0 0 20px 20px;
          border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
     -moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
          box-shadow: 0 2px 3px rgba(0,0,0,.15);
}

.content footer{
  padding-bottom: 5px;
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
	float: left;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* custom */

/* this overrides bootstrap settings */

html, body, html body, html body p{
	font-family: 'Segoe UI', Helvetica, Garuda, Arial, sans-serif !important;
	color: #666;
	font-size: 14px;
	line-height: 19px;
}

/* end override */

div.container{
	/* margin-left: 50px; */
	width: 100%;
}

.navbar-inner div.container{
	margin-left: 50px;
}

.container > div.content{
	float: left;
	width: 70%;
	/*max-width: 900px;*/
	padding-right: 20px;
	margin-left: 30px;
}

.container .unit-article-inner .content, .container .content .span12{
	width: 100%;
	padding-right: 20px;
	padding-bottom: 25px;
}

.container .content .span8, .container .content .span4{
	width: 98%;
}

.container .main.content .span12{
	margin-bottom: -35px;
}

.container .content  .tags{
	margin-top: 5px;
}

.container .content .tags h4{
	margin: 0;
}

footer{
	width: 100%;
	float: left;
}

.entry-content{
	margin: 5px 20px 10px 0px;
}

.date{
	font-size: 12px;
	font-weight: bold;
}

.page.row{
	margin-top: -10px;
}

.other .page.row{
	margin-right: 10px;
	margin-bottom: 10px;
}

/* code */

.highlight{
    margin: 15px 0 15px 0;	
}

/* headers */

.post h1{
	margin: 30px 0 10px 0;
}

.post h2{
	margin: 25px 0 10px 0;
}

.post h3, aside h3{
	margin: 20px 0 5px 0;
}

.post h4{
	margin: 15px 0 5px 0;
}

/* blockquotes */

blockquote {
	background:#F7F7FF;
	border-top:1px solid #C8CDDE;
	border-bottom:1px solid #D5D5D3;
	border-left: 4px solid #97CA41;
	color:#666;
	display:block;
	margin: 15px 0px 15px 0px;
}

blockquote > p {
	display:block;
	margin-bottom:0;
	padding:7px 5px;
}

blockquote > p:first-child {
	margin-top:0;
}

blockquote img {
	margin-bottom:0;
}

/* images */
img{
	margin: 20px;
	max-width: 95%;
} 

/* personal info & social icons */

aside.right-panel{
	float: left;
	width: 20%;
	/*max-width: 300px;*/
	position: relative;
	top: 70px;
	left: 55px;
	text-align: left;
}

aside.right-panel ul{
	margin: 5px 0 0 0;
	list-style-type: none;
}

aside .about {
	width: 100%;
	float: left;
}

aside .about li{
	float: left;
}

	aside .about li.author-name{
		width: 100%;
	}

	aside .about li img{
		width: 50px;
		height: 50px;
		margin: 10px 10px 10px 0;
	}

	aside .about li.github-icon img{
	 margin-top: 13px;    
	}

	aside .about li.twitter-icon img{
	 width: 40px;
	 height: 40px;  
	 margin-top: 17px;    
	}

	aside .about li.rss-icon img{
	 margin-top: 13px;
	 margin-right: 0px;    
	}

aside .separator{
	width: 100%;
	margin: 3px 0 3px 0;
	border-bottom: solid 2px rgba(255,255,255,0.3);
}


/* fixes for devices with small screen resolution */

.thin.other aside, 
.thin.main aside .older-posts, 
.thin.main aside .about li.author-name, 
.thin aside .about h3,
.thin.main aside .categories,
.thin.main aside.right-panel{
	display: none;
}

.thin img{
	margin: 0;
} 

/* extras */

iframe{
	margin: 15px 0 15px 0;
}

/* about */

.about-title{
    padding: 25px 0 25px 0;
}

.links li{
   margin: 0 0 10px 0;
}
